# Ignore virtual environment folder(s)
/.venv/

# Ignore any "__pycache__" folders
**/__pycache__/

# Ignore contents of "logs" folder
/logs/*

# Ignore contents of "secrets" folder
/secrets/*

# Ignore contents of "tmp" folder
/tmp/*
!/tmp/.gitkeep
!/tmp/ig_stories_images/.gitkeep
!/tmp/parquet/.gitkeep
!/tmp/xml/.gitkeep