# Ignore virtual environment folder(s)
/.venv/

# Ignore any "__pycache__" folders
**/__pycache__/

# Ignore contents of "logs" folder
/logs/*

# Ignore contents of "secrets" folder
/secrets/*

# Ignore contents of "temp" folder
/temp/*
!/temp/.gitkeep
!/temp/ig_stories_images/.gitkeep
!/temp/parquet/.gitkeep